/* ==================
	LINK COLOR STYLES
================== */

/* sets the 1st default link color */
.link-color-1 {
	color: #C04355;
}

.link-color-1:hover {
	color: #C04355;
	text-decoration: underline !important;
}

/* sets the 2nd default link color */
.link-color-2 {
	color: #36A9AE;
}

.link-color-2:hover {
	color: #36A9AE;
	text-decoration: underline !important;	
}

/* sets the 3rd default link color */
.link-color-3 {
	color: #252A2E;
}

.link-color-3:hover {
	color: #252A2E;
	text-decoration: underline !important;	
}

/* sets the 4th default link color */
.link-color-4 {
	color: #797874;
}

.link-color-4:hover {
	color: #797874;
	text-decoration: underline !important;	
}

/* sets the 5th default link color */
.link-color-5 {
	color: #fcfcfc;
}

.link-color-5:hover {
	color: #fcfcfc;
	text-decoration: underline !important;	
}

/* =============
	BUTTON LINKS
============= */

/* sets the 1st default theme button style */
a.theme-btn-1 {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px !important;
	font-weight: 300 !important;
	padding: 10px 35px 10px 35px !important;
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
	text-decoration: none !important;	
}

/* sets the 1st default theme button hover style */
a.theme-btn-1:hover {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px !important;	
	font-weight: 300 !important;	
	padding: 10px 35px 10px 35px !important;
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
	text-decoration: none !important;	
}

/* sets the 1st default theme button hover style */
a.theme-btn-1:focus {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px !important;	
	font-weight: 300 !important;	
	padding: 10px 35px 10px 35px !important;
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
	text-decoration: none !important;	
}

/* sets the default button style */
button.theme-btn-1 {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px !important;	
	font-weight: 300 !important;	
	padding: 10px 35px 10px 35px !important;
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
	text-decoration: none !important;	
}

/* sets the default theme button hover style */
button.theme-btn-1:hover {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px !important;	
	font-weight: 300 !important;	
	padding: 10px 35px 10px 35px !important;	
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
	text-decoration: none !important;	
}

/* ===================
	PHONE NUMBER LINKS
=================== */

/* sets the extra-small phone number link class */
.phone-xs {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
}

/* sets the small phone number link class */
.phone-sm {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;	
	font-size: 20px;
	font-weight: 700;
}

/* sets the medium phone number link class */
.phone-md {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;	
	font-size: 32px;
	font-weight: 700;
}

/* sets the large phone number link class */
.phone-lg {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;	
	font-size: 36px;
	font-weight: 700;
}