html {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

body {
	margin-top: 80px;
	padding: 0px;	
	font-size: 1rem;
}

/* overrides the default h1 class */
.h1 {
	font-size: 4.5rem;
	line-height: inherit;
}

/* overrides the default h2 class */
.h2 {
	font-size: 3rem;
	line-height: inherit;
}

/* overrides the default h3 class */
.h3 {
	font-size: 2.25rem;
	line-height: inherit;
}

/* overrides the default h4 class */
.h4 {
	font-size: 1.75rem;
	line-height: inherit;
}

/* overrides the default h5 class */
.h5 {
	font-size: 1.5rem;
	line-height: inherit;	
}

/* overrides the default h6 class */
.h6 {
	font-size: 1.2rem;
	line-height: inherit;	
}

p {
	font-size: 1rem;
	line-height: inherit;
}

.text {
	font-size: 1rem;
	line-height: inherit;	
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.text-xs {
	font-size: 0.75rem;
}

.text-sm {
	font-size: 0.875rem;
}

.text-reg {
	font-size: 1rem;
}

.text-md {
	font-size: 1.5rem;
}

.text-lg {
	font-size: 2.25rem;
}

.text-xl {
	font-size: 3rem;
}

.text-xxl {
	font-size: 4rem;
}

.text-hu {
	font-size: 4.5rem;
}

/* sets the default serif regular weight font */
.serif-reg {
	font-family: "Merriweather", "Georgia", "Times New Roman", serif;
	font-weight: normal;
}

/* sets the default serif bold weight font*/
.serif-bold{
	font-family: "", "Georgia", "Times New Roman", serif;
	font-weight: bold;
}

/* sets the default sans-serif regular weight font */
.sans-serif-reg {
	font-family: "Lato", "Helvetica", "Arial, sans-serif;
	font-weight: normal;
}

/* sets the default sans-serif bold weight font */
.sans-serif-bold {
	font-family: "Lato Black", "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: bold;
}

/* sets the 1st default theme color */
.theme-color-1 {
	color: #D64C60;
}

/* sets the 2nd default theme color */
.theme-color-2 {
	color: #027D82;
}

/* sets the 3rd default theme color */
.theme-color-3 {
	color: #DC9C1E;
}

/* sets the 4th default theme color */
.theme-color-4 {
	color: #252A2E;
}

/* sets the 5th default theme color */
.theme-color-5 {
	color: #fcfcfc;
}

/*sets the 6th default theme color */
.theme-color-6 {
	color: #6F6D6A;
}

/* sets the 1st default theme background */
.theme-background-1 {
	background-color: #D64C60;
}

/* sets the 2nd default theme background */
.theme-background-2 {
	background-color: #36A9AE;

}

/* sets the 3rd default theme background */
.theme-background-3 {
	background-color: #797874;
}

/* sets the 4th default theme background */
.theme-background-4 {
	background-color: #EFEFE9;
}

/* sets the 5th default theme background */
.theme-background-5 {
	background-color: #F5F5F5;
}

/* sets the 1st default link color */
.link-color-1 {
	color: #C04355;
}

/* sets the 2nd default link color */
.link-color-2 {
	color: #36A9AE;
}

/* sets the 3rd default link color */
.link-color-3 {
	color: #252A2E;
}

/* sets the 4th default link color */
.link-color-4 {
	color: #797874;
}

/* sets the 5th default link color */
.link-color-5 {
	color: #fcfcfc;
}

/* sets the 1st default theme button style */
a.theme-btn-1 {
	padding: 10px 40px 10px 40px;	
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
}

/* sets the 1st default theme button hover style */
a.theme-btn-1:hover {
	padding: 10px 40px 10px 40px;	
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
}

/* sets the default button style */
button.theme-btn-1 {
	padding: 10px 40px 10px 40px;	
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
}

/* sets the default theme button hover style */
button.theme-btn-1:hover {
	padding: 10px 40px 10px 40px;	
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
}

/* controls the primary navigation */
#primary-navigation {}

/* controls the patient reviews section */
#patient-reviews {
	background-image: url("/img/reviews-bkgd.jpg");
	background-position: top center;
	background-size: cover;	
	padding: 0px 0px 40px 0px;
}

/* controls the 1st slide of the banner carousel */
#banner-slide-1 {
	background-image: url("/img/reisig-slide-1.jpg");
}

/* controls the 2nd slide of the banner carousel */
#banner-slide-2 {
	background-image: url("/img/reisig-slide-2.jpg");
}

/* controls the 3rd slide of the banner carousel */
#banner-slide-3 {
	background-image: url("/img/reisig-slide-3.jpg");
}

/* controls the new patient hotline mobile section */
#new-patient-hotline-mobile {
	padding: 20px 0px 20px 0px; 
}

/* controls the new patient hotline desktop section */
#new-patient-hotline-desktop {
	padding: 60px 0px 50px 0px;
}

/* controls the new patient existing clients section */
#new-patient-hotline-existing {
	padding: 60px 0px 50px 0px;
}



/* controls the no insurance section */
#no-insurance {
	padding: 40px 0px 60px 0px;	
	background-image: url("/img/membership-row-reisig.jpg");
	background-position: top center;
	background-size: cover;
}

/* controls the team photo section */
#team-photo {
	padding: 40px 0px 60px 0px;
}

/* controls the services section */
#services {
	padding: 40px 0px 60px 0px;
	border-bottom: solid 2px #cccccc;
}


/* controls the office tour carousel section */
#office-tour-carousel {
	padding: 40px 0px 60px 0px;
}

/* controls the locations section */
#location {
	background-image: url("/img/map-screenshot.jpg");
	background-position: top center;
	background-size: cover;
	padding: 40px 0px 60px 0px;
}

/* controls the associations section */
#associations {
	padding: 20px 0px 20px 0px;
}

/* controls the primary footer section */
#primary-footer {
	padding: 30px 0px 20px 0px;
	background-color: #36A9AE;
}

/* creates a class for the birdeye patient reviews widget */
.birdeye-widget {
	padding: 0; 
	background: transparent; 
	max-height: 600px !important; 
	overflow: scroll;	
	-webkit-overflow-scrolling:touch;
}

/* creates the border right for the new patient hotline */
.border-right {
	border-right: solid 1px #fcfcfc;
}

/* creates a gold font class for font awesome icons */
.fa-gold {
	color: gold;
}

/* creates a black font class for font awesome icons */
.fa-black {
	color: black !important;
}

/* creates a green font class for font awesome icons */
.fa-green {
	color: #027D82;
	margin: 0;
	padding:0;
}

/* creates the facebook brand class for font awesome icon */
.facebook-blue {
	color: #3B5998 !important;
}

./* creates the google plus brand class for font awesome icon */
.google-red {
	color: #DC4A38 !important;
}

/* overrides the default bootstrap panel style */
.panel-default {
	border: solid 2px #cccccc;
}

/* overrides the default bootstrap well style */
.well-default {
	background: transparent;
	border: none;
	border-radius: 0px;
}