/* ===========================
	General HTML & Body Styles 
=========================== */

html {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

body {
	margin-top: 80px;
	padding: 0px;	
	font-size: 1rem;
}

/* ==========================
	Custom Type & Text Styles 
========================== */

/* overrides the default h1 class */
.h1 {
	font-size: 4.5rem;
	line-height: normal;
}

/* overrides the default h2 class */
.h2 {
	font-size: 3rem;
	line-height: normal;
}

/* overrides the default h3 class */
.h3 {
	font-size: 2.25rem;
	line-height: normal;
}

/* overrides the default h4 class */
.h4 {
	font-size: 1.75rem;
	line-height: normal;
}

/* overrides the default h5 class */
.h5 {
	font-size: 1.5rem;
	line-height: normal;	
}

/* overrides the default h6 class */
.h6 {
	font-size: 1.2rem;
	line-height: normal;	
}

p {
	font-size: 1rem;
	line-height: normal;
}

.text {
	font-size: 1rem;
	line-height: inherit;	
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
}

/* Custom Text Styles */

/* creates a responsive custom text extra-small class */
.text-xs {
	font-size: 0.75rem;
}


/* creates a responsive custom text small class */
.text-sm {
	font-size: 0.875rem;
}

/* creates a responsive text regular class */
.text-reg {
	font-size: 1rem;
}

/* creates a responsive text medium class */
.text-md {
	font-size: 1.5rem;
}

/* creates a responsive text large class */
.text-lg {
	font-size: 2.25rem;
}

/* creates a responsive text extra-large class */
.text-xl {
	font-size: 3rem;
}

/* creates a responsive text extra-extra-large class */
.text-xxl {
	font-size: 4rem;
}

/*creates a responsive text huge class */
.text-hu {
	font-size: 4.5rem;
}

/* sets the default serif regular weight font */
.serif-reg {
	font-family: "Merriweather", "Georgia", "Times New Roman", serif;
	font-weight: 400;
	line-height: normal;
	letter-spacing: normal;	
}

/* sets the default serif bold weight font*/
.serif-bold{
	font-family: "Merriweather", "Georgia", "Times New Roman", serif;
	font-weight: 600;
	line-height: normal;
	letter-spacing: normal;	
}

/* sets the default sans-serif regular weight font */
.sans-serif-reg {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: normal;
	letter-spacing: normal;
}

/* sets the default sans-serif bold weight font */
.sans-serif-bold {
	font-family: "Lato Black", "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: normal;
	letter-spacing: normal;text
	
}

/* sets the 1st default theme color */
.theme-color-1 {
	color: #D64C60;
}

/* sets the 2nd default theme color */
.theme-color-2 {
	color: #027D82;
}

/* sets the 3rd default theme color */
.theme-color-3 {
	color: #DC9C1E;
}

/* sets the 4th default theme color */
.theme-color-4 {
	color: #252A2E;
}

/* sets the 5th default theme color */
.theme-color-5 {
	color: #fcfcfc;
}

/*sets the 6th default theme color */
.theme-color-6 {
	color: #6F6D6A;
}

/* sets the 1st default theme background */
.theme-background-1 {
	background-color: #D64C60;
}

/* sets the 2nd default theme background */
.theme-background-2 {
	background-color: #36A9AE;

}

/* sets the 3rd default theme background */
.theme-background-3 {
	background-color: #797874;
}

/* sets the 4th default theme background */
.theme-background-4 {
	background-color: #EFEFE9;
}

/* sets the 5th default theme background */
.theme-background-5 {
	background-color: #F5F5F5;
}

/* sets the 1st default link color */
.link-color-1 {
	color: #C04355;
}

/* sets the 2nd default link color */
.link-color-2 {
	color: #36A9AE;
}

/* sets the 3rd default link color */
.link-color-3 {
	color: #252A2E;
}

/* sets the 4th default link color */
.link-color-4 {
	color: #797874;
}

/* sets the 5th default link color */
.link-color-5 {
	color: #fcfcfc;
}

/* sets the 1st default theme button style */
a.theme-btn-1 {
	padding: 10px 25px 10px 25px;	
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
}

/* sets the 1st default theme button hover style */
a.theme-btn-1:hover {
	padding: 10px 25px 10px 25px;	
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
}

/* sets the 1st default theme button hover style */
a.theme-btn-1:focus {
	padding: 10px 25px 10px 25px;	
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
}

/* sets the default button style */
button.theme-btn-1 {
	padding: 10px 25px 10px 25px;	
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
}

/* sets the default theme button hover style */
button.theme-btn-1:hover {
	padding: 10px 25px 10px 25px;	
	background-color: #C04355;
	border: solid 2px #fcfcfc;
	border-radius: 15px;
	color: #fcfcfc;
	text-transform: uppercase;
}

/* =====================
	Custom Site Sections 
===================== */

/* controls the primary navigation */
#primary-navigation {}

/* controls the patient reviews section */
#patient-reviews {
	background-image: url("../../img/reviews-bkgd.jpg");
	background-position: top center;
	background-size: cover;	
	padding: 0px 0px 0px 0px;
}

/* controls the banner carousel section */
#banner-carousel {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;	
}

/* controls the mobile banner image */
#banner-mobile-img{
	width: auto;
	height: auto;
}

/* controls the 1st slide of the banner carousel */
#banner-slide-1 {
	background-image: url("../../img/reisig-slide-1.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	width: auto;
	max-height: 587px;
}

/* controls the 2nd slide of the banner carousel */
#banner-slide-2 {
	background-image: url("../../img/reisig-slide-2.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	width: auto;
	max-height: 587px;
}

/* controls the 3rd slide of the banner carousel */
#banner-slide-3 {
	background-image: url("../../img/reisig-slide-3.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	width: auto;
	max-height: 587px;
}

/* controls the new patient hotline mobile section */
#new-patient-hotline-mobile {
	margin: 0 auto;
	padding: 0px 0px 0px 0px; 
}

/* controls the new patient hotline desktop section */
#new-patient-hotline-desktop {
	margin: 0 auto;	
	padding: 60px 0px 50px 0px;
	min-height: 140px;
}

/* controls the new patient existing clients section */
#new-patient-hotline-existing {
	margin: 0 auto;	
	padding: 20px 0px 20px 0px;
	min-height: 140px;	
}

/* controls the meet the team section */
#meet-the-team {
	padding: 20px 0px 30px 0px;
}

/* controls the no insurance section */
#no-insurance {
	margin: 0 auto;	
	padding: 40px 0px 60px 0px;	
	background-image: url("../../img/membership-row-reisig.jpg");
	background-position: top center;
	background-size: cover;
}

/* controls the no insurance mobile section */
#no-insurance-mobile {
	margin: 20px 0px 60px 0px;
	background-color: #FDFDFD;
}

/* controls the no insurance mobile banner */
#no-insurance-banner {
	margin-top: -90px;
}

/* controls the team photo section */
#team-photo {
	margin: 0 auto;		
	padding: 20px 0px 30px 0px;
}

/* controls the services section */
#services {
	margin: 0 auto;		
	padding: 20px 0px 20px 0px;
	border-bottom: solid 2px #cccccc;
}

/* controls the office tour carousel section */
#office-tour-carousel {
	margin: 0 auto;		
	padding: 20px 0px 30px 0px;
}

/* controls the mobile-location section */
#mobile-location {
	margin: 0 auto;	
	padding: 60px 0px 40px 0px;	
}

/* controls the locations section */
#desktop-location {
	background-image: url("../../img/map-screenshot.jpg");
	background-position: top center;
	background-size: cover;
	max-height: 732px;
	margin: 0 auto;	
	padding: 60px 0px 40px 0px;	
}

#location-brand {
	margin: 0 auto;	
	padding: 40px 0px 30px 0px;	
	padding: 40px 0px 30px 0px;	
	max-height: 100px;
}

/* controls the associations section */
#associations {
	margin: 0 auto;		
	padding: 20px 0px 20px 0px;
}

/* controls the mobile footer section */
#mobile-footer {
	margin: 0 auto;		
	padding: 30px 0px 20px 0px;
	background-color: #36A9AE;
}

/* controls the desktop footer section */
#desktop-footer {	
	margin: 0px;
	padding: 20px 0px 20px 0px;
	background-color: #36A9AE;
	max-height: 80px;
}

/* creates a class for the birdeye patient reviews widget */
.birdeye-widget {
	padding: 0; 
	background: transparent; 
	max-height: 600px !important; 
	overflow: scroll;	
	-webkit-overflow-scrolling:touch;
}

/* creates the border right for the new patient hotline */
.border-right {
	border-right: solid 1px #fcfcfc;
}

/* creates a gold font class for font awesome icons */
.fa-gold {
	color: gold;
}

.fa-green {
	color: #027D82;
}

/* creates a black font class for font awesome icons */
.fa-black {
	color: #000000 !important;
}

.fa-white {
	color: #FCFCFC !important;
}

/* creates a green font class for font awesome icons */
.fa-color-2 {
	color: #027D82;
	margin: 0;
	padding:0;
}

/* creates the facebook brand class for font awesome icon */
.facebook-blue {
	color: #3B5998 !important;
}

./* creates the google plus brand class for font awesome icon */
.google-red {
	color: #DC4A38 !important;
}

/* overrides the default bootstrap panel style */
.panel-default {
	border: solid 2px #cccccc;
}

/* overrides the default bootstrap well style */
.well-default {
	background: transparent;
	border: none;
	border-radius: 0px;
}

/* ==========================
	Media Queries and Screens 
========================== */

/* Large desktops and laptops */
@media (min-width: 1200px) {

	html {
		font-size: 16px;
	}
	
	/* overrides default body browser settings */
	body {
		font-size: 1rem;
	}
	
	/* sets the 1st default theme button style */
	a.theme-btn-1 {
		padding: 10px 25px 10px 25px;	
		background-color: #C04355;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}

	/* sets the 1st default theme button hover style */
	a.theme-btn-1:hover {
		padding: 10px 25px 10px 25px;	
		background-color: #C04355;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
	html {
		font-size: 16px;
	}
	
	/* overrides default body browser settings */
	body {
		font-size: 1rem;
	}
	
	/* sets the 1st default theme button style */
	a.theme-btn-1 {
		padding: 10px 25px 10px 25px;	
		background-color: #C04355;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}

	/* sets the 1st default theme button hover style */
	a.theme-btn-1:hover {
		padding: 10px 25px 10px 25px;	
		background-color: #C04355;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}	
	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	
	html {
		font-size: 14px;
	}
	
	/* overrides default body browser settings */
	body {
		font-size: 1rem;
	}
	
	/* sets the 1st default theme button style */
	a.theme-btn-1 {
		padding: 10px 25px 10px 25px;	
		background-color: #C04355;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}

	/* sets the 1st default theme button hover style */
	a.theme-btn-1:hover {
		padding: 10px 25px 10px 25px;	
		background-color: #C04355;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}	
	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

		/* overrides default html settings */
	html {
		font-size: 14px;
	}
	
	/* overrides default body browser settings */
	body {
		font-size: 1rem;
	}
	
	/* sets the 1st default theme button style */
	a.theme-btn-1 {
		padding: 10px 15px 10px 15px;
		background-color: #C04355;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}

	/* sets the 1st default theme button hover style */
	a.theme-btn-1:hover {
		padding: 10px 15px 10px 15px;
		background-color: #C04355;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}	
	
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	
	/* overrides default html settings */
	html {
		font-size: 12px;
	}
	
	/* overrides default body browser settings */
	body {
		font-size: 1rem;
	}
	
	/* sets the 1st default theme button style */
	a.theme-btn-1 {
		padding: 10px 15px 10px 15px;
		background-color: #C04355;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}

	/* sets the 1st default theme button hover style */
	a.theme-btn-1:hover {
		padding: 10px 15px 10px 15px;
		background-color: #C04355;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}
}