/* ===================
	Custom Type Styles 
=================== */
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	margin-bottom: 0px;
}

/* creates an h1 heading class */
.h1 {
	font-size: 72px;
	line-height: normal;
}

/* creates an h2 heading class */
.h2 {
	font-size: 48px;
	line-height: normal;	
}

/* creates an h3 heading class */
.h3 {
	font-size: 36px;
	line-height: normal;
}

/* creates an h4 heading class */
.h4 {
	font-size: 21px;
	line-height: normal;
}

/* creates an h5 heading class */
.h5 {
	font-size: 18px;
	line-height: normal;	
}

/* creates an h6 heading class */
.h6 {
	font-size: 1.2rem;
	line-height: normal;		
}

p {
	font-size: 1rem;
	/* line-height: 1.375rem; */
	line-height: 1.5rem; 
	padding-bottom: 10px;
}

/* Custom Text Styles */

/* creates a responsive custom text extra-small class */
.text-xs {
	font-size: 0.75rem;
}

/* creates a responsive custom text small class */
.text-sm {
	font-size: 0.875rem;
}

/* creates a responsive text regular class */
.text-reg {
	font-size: 1rem;
}

/* creates a responsive text medium class */
.text-md {
	font-size: 1.5rem;
}

/* creates a responsive text large class */
.text-lg {
	font-size: 2.25rem;
}

/* creates a responsive text extra-large class */
.text-xl {
	font-size: 3rem;
	margin-bottom: 20px !important;
}

/* creates a responsive text extra-extra-large class */
.text-xxl {
	font-size: 4rem;
}

/* creates a responsive text huge class */
.text-hu {
	font-size: 4.5rem;
}

/* creates a text caption class */
.text-caption {
	padding: 15px 0px 0px 0px;
}

/* creates a text margin class */
.text-margin {
	margin-bottom: 10px;
}
