/* ========================
	Swiper Carousel Feature
======================== */

/* ========================
	Mobile Swiper Carousel
======================== */

/* controls the mobile banner */
#swiper-mobile {
	margin: 0px;
	padding: 0px;
	max-height: 586px;	
}

/* ========================
	Desktop Banner Carousel
======================== */

/* controls the banner carousel section */
#swiper-carousel  {
	margin: 0px;
	padding: 0px;
}

/* controls the swiper container */
.swiper-container {
	/* width: auto; */
	height: 500px;
}

.owl-item {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

/* controls the banner carousel section */
#banner-carousel {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;	
}

/* controls the mobile banner image */
#banner-mobile-img{
	width: auto;
	height: auto;
}

/* controls the 1st slide of the banner carousel */
#banner-slide-1 {
	background-image: url("../../img/reisig-slide-1.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	background-size: cover;
	padding-top: 100px;
	min-height: 440px;
	max-height: 500px;
	
}

/* controls the 2nd slide of the banner carousel */
#banner-slide-2 {
	background-image: url("../../img/reisig-slide-2.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	background-size: cover;
	padding-top: 80px;		
	min-height: 440px;
	max-height: 500px;
}

/* controls the 3rd slide of the banner carousel */
#banner-slide-3 {
	background-image: url("../../img/reisig-slide-3.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	background-size: cover;
	padding-top: 100px;	
	min-height: 440px;
	max-height: 500px;
}

/* sets the default color style for the customer review */
.customer-review {
	color: #cccccc;
}

.call-to-action {
	margin: 50px 0px 0px 0px;
}

/* sets the default color style for the review stars */
.fa-gold {
	color: gold !important;
}

/* sets the styles for the slide arrow */
.scroll-down {
	position: absolute;
	/* position: relative; */
 	z-index: 4;
	bottom: 30px;
	left: 50%;
	margin-top: 0px !important;
	margin-left: auto;
	margin-right: auto;	
	width: 40px;
	height: 40px;
	text-align: center;
}

/* creates a dark icon class for scroll down */
.dark-icon {
	color: #333333; 
	border: solid 2px #333333 !important;
}