/* ========================
	Swiper Carousel Feature
======================== */

/* ========================
	Mobile Swiper Carousel
======================== */

/* controls the mobile banner */
#swiper-mobile {
	margin: 0px;
	padding: 0px;
	max-height: 586px;	
}

/* ========================
	Desktop Banner Carousel
======================== */

/* controls the banner carousel section */
#swiper-carousel  {
	margin: 0px;
	padding: 0px;
}

/* controls the swiper container */
.swiper-container {
	/* width: auto; */
	height: 500px;
}

/* controls the swiper slide visibiblity */
.swiper-slide {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

/* controls the banner carousel section */
#banner-carousel {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;	
}

/* controls the mobile banner image */
#banner-mobile-img{
	width: auto;
	height: auto;
}

/* controls the 1st slide of the banner carousel */
#banner-slide-1 {
	background-image: url("../../img/reisig-slide-1.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	background-size: cover;
	padding-top: 100px;
}

/* controls the 2nd slide of the banner carousel */
#banner-slide-2 {
	background-image: url("../../img/reisig-slide-2.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	background-size: cover;
	padding-top: 80px;		
}

/* controls the 3rd slide of the banner carousel */
#banner-slide-3 {
	background-image: url("../../img/reisig-slide-3.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	background-size: cover;
	padding-top: 100px;	
}

#banner-slide-3 h1 {
	text-shadow: 2px 2px #FFFFFF;
}

#banner-slide-3 p {
	text-shadow: 1px 1px #FFFFFF;
}

/* sets the default color style for the customer review */
.customer-review {
	color: #cccccc;
}

/* sets the default color style for the review stars */
.fa-gold {
	color: gold !important;
}

/* sets the styles for the slide arrow */
.scroll-down {
	position: absolute;
	/* position: relative; */
 	z-index: 4;
	bottom: 30px;
	left: 50%;
	margin-top: 0px !important;
	margin-left: auto;
	margin-right: auto;	
	width: 40px;
	height: 40px;
	text-align: center;
}

/* controls the icon for the scroll down */
.icon-angle-down {
	font-size: 2rem;
}

.slide-cta {
	margin-top: 50px;
}

/* Large desktops and laptops */
@media (max-width: 1400px) {
	.swiper-slide {
		max-height: 800px;
	}
}

/* Portrait tablets and small desktops */
@media (max-width: 1200px) {
	.swiper-slide {
		max-height: 700px;
	}
}

/* Portrait phones and larger tablets */
@media (max-width: 780px) {
	.swiper-slide {
		max-height: 580px;
	}	
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.swiper-slide {
		max-height: 580px;
	}		
}