/* ==========================================
	PRODUCTION SWIPER CAROUSEL FEATURE STYLES
========================================== */

/* max-width: 1400, height: 800px ? */
/* max-width: 1200, height: 700px ? */
/* max-width: 760 height: 640px ? */
/* max-width: 580 height: 560px or 500px ? */

/* ====================
	MOBILE SWIPER SLIDE
==================== */

/* controls the mobile banner */
#swiper-mobile {
	margin: 0px;
	padding: 0px;
	max-height: 500px;	
}

/* controls the mobile banner image */
#swiper-mobile-img{
	width: auto;
	height: auto;
}

/* ========================
	DESKTOP SWIPER CAROUSEL
======================== */

#swiper-carousel-container {
	/* NEEDED FOR SWIPER SLIDER SCRIPT */
}

/* controls the banner swiper carousel section */
#swiper-carousel  {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

/* controls the swiper container */
.swiper-container {
	height: 800px;
}

/* controls the swiper slide visibility */
.swiper-slide {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

/* controls the 1st slide of the swiper carousel */
#swiper-slide-1 {
	background-image: url("../../img/reisig-slide-1.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	background-size: cover;
	padding-top: 100px;
}

#swiper-slide-1 .h1 {
	font-size: 68px;
	margin-bottom: 0px;
}

#swiper-slide-1 .h3 {
	font-size: 26px;
	margin-top: 0px;
}

#swiper-slide-1 a {
	margin-top: 20px;
}

/* controls the 2nd slide of the swiper carousel */
#swiper-slide-2 {
	background-image: url("../../img/reisig-slide-2.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	background-size: cover;
	padding-top: 80px;		
}

#swiper-slide-2 #customer-review {
	font-size: 18px;
}

#swiper-slide-2 #customer {
	font-size: 18px;
	margin-left: 130px;
}

/* controls the 3rd slide of the banner carousel */
#swiper-slide-3 {
	background-image: url("../../img/reisig-slide-3.jpg");
	background-position: top center;
	background-repeat: no-repeat; 
	background-size: cover;
	padding-top: 100px;	
}

#swiper-slide-3 h1 {
	text-shadow: 2px 2px #FFFFFF;
}

#swiper-slide-3 p {
	text-shadow: 1px 1px #FFFFFF;
}

/* sets the default color style for the review stars */
.fa-gold {
	color: gold !important;
}

/* sets the styles for the slide arrow */
.scroll-down {
	position: absolute;
	/* position: relative; */
 	z-index: 4;
	bottom: 20px;
	left: 50%;
	margin-top: 0px !important;
	margin-left: auto;
	margin-right: auto;	
	width: 40px;
	height: 40px;
	text-align: center;
}

/* controls the icon for the scroll down */
.icon-angle-down {
	font-size: 2rem;
}

.slide-cta {
	margin-top: 50px;
}

/* =======================================
	PRODUCTION SWIPER SLIDER MEDIA QUERIES 
======================================= */

/* Large desktops and laptops */
@media (max-width: 1400px) {
	.swiper-slide {
		max-height: 600px;
	}
	.swiper-container {
		height: 600px;
	}		
}

/* Small laptops */
@media (max-width: 1200px) {
	.swiper-slide {
		height: 500px;
	}
	.swiper-container {
		height: 500px;
	}	
}

/* Tablets */
@media (max-width: 780px) {
	.swiper-slide {
		max-height: 500px;
	}	
}

/* Phones */
@media (max-width: 480px) {
	.swiper-slide {
		max-height: 500px;
	}		
}